//======== 新增證件  ======== //
.addCard {
    .card-main {
        background-color: $gray-100;
        padding: 15px;

    }
}

//========= 身份檢核 =======//

.title {
    .row {
        margin-bottom: 3px;
    }
}

.space {
    tr {
        td {
            span,
            div {
                margin-left: 10px;
            }
            &:nth-child(1) {
                width:  60px;
           }
            &:nth-child(3) {
                 width:  180px;
            }
        }
    }
}

// 帳戶資料

.account_title  {
 margin-bottom: 25px;
 margin-top: 10px


}
