//三商行


a {
    &.hover {
        border-bottom: 1px solid $blue !important;
        height: 37px;
        margin-top: 18px;
        color: $blue !important;
    }
}


//============= header ============
//header color

//如果要還原就刪掉底下這部分
.app-header {
    background-color: $header_bgc;
    color: $header_textcolor;

    .navbar-brand {
        color: #fff;
    }

    a {
        color: $header_textcolor;

        &.hover {
            border-bottom: 1px solid #001868 !important;
            height: 37px;
            margin-top: 18px;
            color: #ff0000 !important;
        }
    }

    .nav-link {
        color: $header_textcolor;

        &:hover {
            color: #ffffff
        }
    }
}



// sidebar bgc


.sidebar {

    .nav-link {
        &:hover {
            color: #fff;
            background: #4e4e4e;
        }
    }
}




//首頁登入

.align-items-center {
    .row {
        display: flex;
    }
}

//======== 新增證件  ======== //
.addCard {
    .card-main {
        background-color: $gray-100;
        padding: 15px;

        img {
            width: 80%;
        }

        .sealcut {
            img {
                width: 60%;
                max-width: 400px
            }
        }
    }

    // =========== 新增印鑑卡 ================ //

    // #cutImg {
    //     img {
    //         width: 60% !important;
    //     }
    //     .card-bgimg {
    //         width: 100% !important;
    //     }
    // }

    .sealpic {
        .card-img {
            width: 60%;
        }


    }


}



// 圖片
.card-body {

    img {
        width: 80%;
        max-width: 800px;
    }

    .img_original {
        img {
            width: inherit;
            max-width: inherit;
        }
    }
}


.imgx_origin {
    position: absolute;
    top: -1000000px;

}





//========= 身份檢核 =======//

.title {
    .row {
        margin-bottom: 3px;
    }
}

.space {
    tr {
        td {

            span,
            div {
                margin-left: 10px;
            }

            &:nth-child(1) {
                width: 60px;
            }

            &:nth-child(3) {
                width: 180px;
            }
        }
    }
}

// 帳戶資料

.account_title {
    margin-bottom: 25px;
    margin-top: 10px
}


//基本資料  套印

.icon-basic {
    width: 24px;
}


// 作業完成

.person_img {
    // @include boxzone(180px, 210px);
    width: 180px !important;
    height: 210px !important;
    border: 1px solid rgb(99, 99, 99);
    padding: 1px;
    margin-bottom: 30px;
}

%label {
    label {
        font-size: 12px;
        color: #a7a7a7;
    }
}


.bigtext {
    font-size: 18px;
    margin-bottom: .1rem;
    margin-top: 10px;
    @extend %label;

}

.remarks {
    margin-top: -45px;
}

.iduser {
    img {
        width: 320px;
    }
}

.idbamp {
    display: inline-block;

    img {
        width: inherit;
        max-width: inherit;
    }
}

.id_detail {
    @extend %label;

    label {
        padding-bottom: 0px;
    }
}

//新增印鑑卡
.sealcut {
    min-height: 300px;
    height: auto;
    position: relative;

    img {
        position: relative;
        z-index: 0;
        // max-width: 46.5%;
    }
    // .card-bgimg {
    //     display: inline-block!important;
    // }

    .seal_box {
        position: relative;
        display: inline-block;
        // float: right;
        z-index: 100;


        width: 120px;
        // height: 35px;

        .btn {
            margin-bottom: 10px;
        }
    }

}

#result {
    .red {
        border: 1px solid #ff3633;
    }

    .blue {
        border: 1px solid #1c04f3;
    }
}

//上傳檔案
.uploadfile {
    margin-bottom: 0px;

    input[type=file] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

}


.addCard {
    .selectType {
        margin-top: 30px;
        border: 1px solid #f0f0f0;
        box-shadow: 0px 0px 4px #f1f1f1;
        padding: 14px 10px;
    }

    .stampbox {
        .bgtext {
            position: relative;
            z-index: 0;
            font-size: 20px;
            color: #cfcfcf;
            text-align: center;

        }

        #result {

            img {
                margin-right: 10px;
                margin-bottom: 6px;
                @include box-shadow(1px, 3px, 8px, #cecece);
                position: relative;
                z-index: 20;
            }
        }
    }

}


//============= 查詢頁面============
.outline-d4 {
    border: 1px solid #d4d4d4;
}








//=============總歸戶查詢===============

.query_items {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    min-height: 600px;

    li {
        //
        font-size: .95rem;
        padding: 10px 20px 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(245, 245, 245);
            color: $blue;
        }

        &.hover {
            background-color: rgb(245, 245, 245);
            color: $blue;
        }

    }
}



//=======  報表  ================

.bg-w {
    background-color: #f8f8f8;


}

//============= 完成畫面 =========

.iduser {
    display: inline-block;
}


// 每頁的form 都要100%

.row>form {
    width: 100%;
}

//
.sealpic {
    display: inline-block;
    .card-img {
        width: 40%;
        max-width: 150px;
        display: inline-block;
    }
}


//新增人像

.boxp {
    .card-img {
        width: 100%;
        max-width: 300px;
    }
}


//異動作業的變更證件


.card-body {
    .change_id {
        img {
        width: 250px;
        }
    }


}

