//三商行
//=============================
//首頁登入

.align-items-center {
    .row {
        display: flex;
    }
}

//======== 新增證件  ======== //
.addCard {
    .card-main {
        background-color: $gray-100;
        padding: 15px;

    }
}

//========= 身份檢核 =======//

.title {
    .row {
        margin-bottom: 3px;
    }
}

.space {
    tr {
        td {

            span,
            div {
                margin-left: 10px;
            }

            &:nth-child(1) {
                width: 60px;
            }

            &:nth-child(3) {
                width: 180px;
            }
        }
    }
}

// 帳戶資料

.account_title {
    margin-bottom: 25px;
    margin-top: 10px
}


//基本資料  套印

.icon-basic {
    width: 24px;
}


// 作業完成

.person_img {
    @include boxzone(180px, 210px);
    border: 1px solid rgb(99, 99, 99);
    padding: 1px;
    margin-bottom: 30px;
}

%label {
    label {
        font-size: 12px;
        color: #a7a7a7;
    }
}


.bigtext {
    font-size: 18px;
    margin-bottom: .1rem;
    margin-top: 10px;
    @extend %label;

}

.remarks {
    margin-top: -45px;
}

.iduser {
    img {
        width: 320px;
    }
}

.idbamp {
    img {
        width: 100px;
    }
}

.id_detail {
    @extend %label;

    label {
        padding-bottom: 0px;
    }
}