// Here you can add other styles
.navbar-brand {
    font-size: .9rem;
    font-weight: bold;
}

@include margin(top, 200);
@include margin(bottom, 200);
@include margin(left, 200);

.btn-l {
    width: 100px;
    max-width: 150px;
    margin-top: 0 !important;
    margin-right: 10px;
}

.btn-xl {
    width: 150px;
    max-width: 150px;
    margin-top: 0 !important;
    margin-right: 10px;
}

.btn-xxl {
    width: 200px;
    max-width: 200px;
    @include margin-auto();
}

.btn-50 {
    width: 49.7%;
    max-width: 49.7%;
}

// #007bff


.bold {
    font-weight: bold;
}

.none {
    display: none;
}

.on {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.submenu {
    display: none;

    .col-12 {
        margin-top: 10px;
    }
}

.table {
    th {
        border-top: none;
    }
}

@for $i from 1 through 80 {
    .width#{$i} {
        min-width: $i * 10px;
        display: inline-block;
        width: $i * 10px;
    }
}


.dateform {

    label {
        margin: 0 5px;
    }


}

.addGuardian {
    font-size: .8rem;
}


.modal-xxlg {
    max-width: 87%;
}

.form-group {
    .box {
        border: 2px solid rgb(243, 243, 243);
        border-radius: 5px;
        padding: 10px;
        background-color: rgb(247, 247, 247);
        // box-shadow: 1px 1px 20px #cccccc;
    }
}

.table-hover {
    tbody {
        tr {
            transition: .2s all ease-in;

            &:hover {
                background: #e0f3ff;
            }
        }
    }
}

.basic-info-card {
    margin-top: 80px;

    .card-img {
        width: 130px;
        height: 85px;
        border-radius: 6px;
    }
}

.noborder {
   tr , td ,th {
    border: none;
   }
}

.row {
    display: inherit;
}

.underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.4rem;
}