// Variable overrides
// $blue:    #3cff00 ;

// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;




$navbar-brand-width:220px;
$blue: #0363ca;
$ocr: #3ae697;
$crop-red: #ff3633;
$crop-blue: #1c04f3;
$sidebar-nav-link-active-bg: #0363ca;
$sidebar-nav-link-active-icon-color: #fff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1000px
);



$header_bgc : #0363ca;
$header_textcolor: rgb(255, 255, 255); 
