<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <div class="nav-item center">
         
            <h3 style="margin: 10px; text-align: center;">兆豐銀行</h3>
            <!-- <span class="badge badge-primary">NEW</span> -->
         
        </div>
        <div class="nav-title"><h5>資料填寫</h5></div>
        <li class="nav-item ">
          <a class="nav-link @@class01" href="a10.html">
            <i class="nav-icon icon-user-following"></i>個人資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class02" href="a10_1.html">
            <i class="nav-icon icon-picture"></i>申請項目</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class03" href="a10_2.html">
            <i class="nav-icon icon-bell"></i>確認資料</a>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>