<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
      Eopen電子開戶系統Web3.0
      <!-- <img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo"> -->
      <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
    </a>
    <!-- <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a class="nav-link" href="id.html">開戶建檔</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">印鑑建檔</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="review.html">審核作業</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">異動作業</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="queryid.html">查詢作業</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">報表作業</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">快速建檔</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">空白表單列印</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">外網查詢</a>
      </li>
    </ul>
    
    <!-- <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </header>