<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="nav-icon icon-speedometer"></i> Dashboard 1.0
            <span class="badge badge-primary">NEW</span>
          </a>
        </li>
        <li class="nav-title">功能列</li>
        <li class="nav-item">
          <a class="nav-link  @@class01" href="review.html">
            <i class="nav-icon icon-drop"></i>審核新開戶</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  @@class02" href="review_change.html">
            <i class="nav-icon icon-pencil"></i>審核變更</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  @@class03" href="review_tag.html">
            <i class="nav-icon icon-pencil"></i>審核異動註記</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  @@class04" href="review_settle.html">
            <i class="nav-icon icon-pencil"></i>審核結清</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  @@class05" href="review_loss.html">
            <i class="nav-icon icon-pencil"></i>審核掛失</a>
        </li>
          <!-- <li class="divider"></li> -->
          <!-- <li class="nav-item">
              <a class="nav-link @@class09" href="#">
                <i class="nav-icon icon-pencil"></i>開戶中斷
                <span class="badge badge-danger">STOP</span>
              </a>
                 
            </li> -->
        <!-- <li class="nav-item mt-auto">
          <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
            <i class="nav-icon icon-cloud-download"></i> Download CoreUI</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
            <i class="nav-icon icon-layers"></i> Try CoreUI
            <strong>PRO</strong>
          </a>
        </li> -->
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>