<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="nav-icon icon-speedometer"></i> Dashboard 1.0
            <span class="badge badge-primary">NEW</span>
          </a>
        </li>
        <li class="nav-title">功能列</li>
        <li class="nav-item">
          <a class="nav-link @@class01" href="id.html">
            <i class="nav-icon icon-user-following"></i> 身份科目</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  @@class02" href="addCard.html">
            <i class="nav-icon icon-picture"></i> 新增證件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class03" href="#">
            <i class="nav-icon icon-pencil"></i> 身份檢核</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class04" href="#">
            <i class="nav-icon icon-pencil"></i> 帳戶資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class05" href="#">
            <i class="nav-icon icon-pencil"></i> 新增人像</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class06" href="#">
            <i class="nav-icon icon-pencil"></i> 基本資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@class07" href="#">
            <i class="nav-icon icon-pencil"></i> 新增印鑑卡</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @@class08" href="#">
              <i class="nav-icon icon-pencil"></i> 作業完成</a>
          </li>
          <li class="divider"></li>
          <li class="nav-item">
              <a class="nav-link @@class09" href="#">
                <i class="nav-icon icon-pencil"></i>開戶中斷
                <span class="badge badge-danger">STOP</span>
              </a>
                 
            </li>
        <!-- <li class="nav-item mt-auto">
          <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
            <i class="nav-icon icon-cloud-download"></i> Download CoreUI</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
            <i class="nav-icon icon-layers"></i> Try CoreUI
            <strong>PRO</strong>
          </a>
        </li> -->
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>