

<div class="addCard">
    <button class="btn btn-block btn-primary btn-xl inlineBlock" type="button" onclick="scanToJpg();">連接掃描器</button>
    <button class="btn btn-block btn-primary btn-xl inlineBlock" type="button">匯入文件</button>
    <div class="card-main margintop-20">
        <!-- 證件匯入處 -->
        <div id="boxprint">
            <!-- 證件匯入處 -->
            <div id="images">
                <img class="imagescut" src="img/front_F.jpg" alt="">
            </div>
            證件匯入處
        </div>
        <div class="ocr_box">
            <button class="btn btn-block btn-primary btn-xl inlineBlock btn-ocr" type="button">OCR辨識</button>
            <button class="btn btn-block btn-primary btn-xl inlineBlock btn-secondary" type="button">清除文件</button>
        </div>
    </div>
</div>
