<form action="" method="">
        <div class="form-group">
            <label class="width12 col-form-label" for="text-input">護照號碼</label>
            <div class="width25">
                <input class="form-control" type="text" name="text-input" placeholder="請填入">
                <!-- <span class="help-block">This is a help text</span> -->
            </div>
        </div>
        <div class="form-group">
            <label class="width12 col-form-label" for="text-input">戶名</label>
            <div class="width25">
                <input class="form-control" type="text" name="text-input" placeholder="請填入">
                <!-- <span class="help-block">This is a help text</span> -->
            </div>
        </div>
    </form>