        <div class="form-group">
            <label class="width12 col-form-label" for="text-input">居留證號碼</label>
            <div class="width25">
                <input class="form-control" type="text" name="text-input" placeholder="請填入">
            </div>
        </div>
        <div class="form-group">
            <label class="width12 col-form-label" for="text-input">戶名</label>
            <div class="width25">
                <input class="form-control" type="text" name="text-input" placeholder="請填入">
            </div>
        </div>